<h1>Summary</h1>
<p>
  <span class="button-bar">
    <button type="button" (click)="changeLanguage('fr')">translate to FR</button>
    <button type="button" (click)="changeLanguage('en')">translate to EN</button>
    <br>
    <button type="button" (click)="changeProvince('on')">translate to ON</button>
    <button type="button" (click)="changeProvince('qc')">translate to QC</button>
  </span>
</p>
<p>
  <a [routerLink]="'/summary' | localize">
    {{'summary' | translate}}
  </a>
  <a [routerLink]="'/cars' | localize">
    {{'cars' | translate}}
  </a>
  <a [routerLink]="'/home' | localize">
    {{'home' | translate}}
  </a>
  <a [routerLink]="'/error' | localize">
    {{'error' | translate}}
  </a>
</p>
